

#loan{
    padding: 5%;
    border: blue;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: khaki;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    height:85%;

}
#amount{
    background-color: khaki;
    width: 175px;
    height: 30px;
}
#interest{
    width: 175px;
    height: 30px;
    background-color: khaki;

}
#month{
    width: 175px;
    height: 30px;
    background-color: khaki;
}
h1{
    text-align: center;
    color: brown;
    text-decoration: underline coral;
    padding-bottom: 20px;
    background-color: khaki;

}
h2{
    color: darkblue;
    text-align: center;
    padding-top: 10px ;
    background-color: khaki;
}
