*{
    background-color: darkgrey;
}

#main{
     text-align: center;
     font-size: 30px;
    
}
h1{
    color: black;
    size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
button{
    text-align: center;
    padding: 5px;
    width: 175px;
    height: 50px;
    background-color: white;

}   
button:hover{
    background-color: blue;
} 