body{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1{
    font-style: italic;
    font-size: 30px;
}
#switch{
     padding: 0px;
    height: 40px;
    width: 25%;
}
#switch li{
    float: left;
    margin: 0 15px 0 15px;
    border-radius: 10px;
    border:2px solid black;
    width: 100%;
    height: 30px;
}
#graybutton{
    background-color: gray;
}
#whitebutton{
    background-color: white;
}
#bluebutton{
    background-color: blue;
}
#yellowbutton{
    background-color: yellow;
}
p{
  text-align: center;
  float: left;
}


